<h1>Battle for Mosul Tests Obama Strategy to Shift Fight’s Burden From U.S.</h1>
<p>
    WASHINGTON — As Iraqi forces launch their long-awaited campaign to retake the city of Mosul from the Islamic State, President Obama’s doctrine of aiding other countries militarily rather than leading every fight is facing its greatest test yet.

	How well the Mosul campaign goes, not just the fighting over the coming days and weeks but the rebuilding of the city in the months after that, will help define Mr. Obama’s legacy as a wartime leader who sought to take the United States off the front lines of the counterterrorism war.

	On Monday, in keeping with the president’s insistence that the Iraqis take the lead, the White House said that Prime Minister Haider al-Abadi was “calling the shots.” But the reality is that roughly half of the 5,000 American troops now in Iraq are likely to be involved in the operation, which could eventually require 30,000 Iraqi and Kurdish troops.

	About 200 to 300 of the Americans are Special Operations commandos advising Iraqi and Kurdish troops — a mission that will put them a few miles behind the front lines, communicating with Iraqi soldiers via radio. A few dozen are forward air controllers, who are already calling in airstrikes against Islamic State targets, Lt. Gen. Stephen Townsend, the American commander in charge of the coalition in Iraq and Syria, said on Monday.
</p>

<p>
	The battle of Mosul will be a human catastrophe - largely due to the US arial bombardment. The French evening news, yesterday, called it to...
	janye 18 minutes ago
	And if the Iraqui forces can't take over Mosul, what is Plan B?If the Iraqi forces do take Mosul and can't form a government to run the...
	Mike 18 minutes ago
	Lets hope the Iraqis can finally step up to the plate and make a credible effort to fight for their country. It's a long shot that this...
	SEE ALL COMMENTS  WRITE A COMMENT
	The other Americans range from Apache helicopter pilots to intelligence analysts at Iraq’s military headquarters.

	“Our men and women in uniform, who are serving in Iraq, are putting themselves in harm’s way,” said the White House press secretary, Josh Earnest. “There’s no one, including the commander in chief, who would downplay the risks that they are taking on our behalf.”

	For the White House, there were other tensions, including the need both here and in Iraq to cast the United States in a supporting rather than a central role. At one point, Mr. Earnest noted that the United States had helped the Iraqis stabilize two other smaller Iraqi cities, Ramadi and Tikrit.

	“We’ve done this,” Mr. Earnest said, before catching himself. “I should say, the Iraqis have done this — on a smaller scale.”

	Mosul is the largest example of a counterterrorism model that the Obama administration has put in place from Afghanistan to Libya. In Somalia, Special Forces troops are training Somali and other African troops to combat the militants of the Shabab. In Syria, about 300 Special Forces troops are aiding Syrian Kurdish and Arab militias with training and air support in the battle against the Islamic State.
</p>