<h1>Singapore self-driving taxi has first 'prang'</h1>
<img src="car.jpg" width="100%" height="auto">
<h3>A self-driving taxi being trialled in Singapore has had its first accident.</h3>
<p>
	nuTonomy, the firm behind the scheme, said the car had clipped a small lorry while driving at about four miles per hour.
	It played down the incident as a "small prang", saying only minor damage was caused and that neither of the two engineers on board were hurt.
	The Singapore scheme, which began in August, was the first around the world trialling driverless taxis.
</p>