<h1>High-ranking Kremlin official dismisses media report of planned ‘KGB revival’</h1>

<p>
	Former head of the Russian presidential administration Sergey Ivanov says media reports about plans to merge all of the country’s security agencies into one are untrue and most likely a hoax concocted by reporters to boost their popularity.<br>
	“I can say with all certainty – this is a classic example of an invented fake that was first launched and then discussed at length. This is what I call making news when they have no real news,” Ivanov said in an interview with Komsomolskaya Pravda newspaper when reporters asked him about the allegations made by popular business daily Kommersant in mid-September.<br>

	Back then, Kommersant predicted that before the presidential elections in 2018 Russia will get a new Ministry for State Security, or MGB – an agency uniting the currently independent Federal Security Committee (FSB), Federal Bodyguard Service (FSO) and Foreign Intelligence Service (SVR).
</p>

<p>
	In addition, the authors of the alleged plan aim to merge the Prosecutor General’s Office with the federal agency for especially important criminal cases – the Investigative Committee – and dissolve the Ministry for Emergency Situations, splitting its tasks between the Defense Ministry and the Interior Ministry.<br>

	Kommersant claimed that the report was based on hints from “multiple sources,” but did not name any. At the time of the story, presidential press secretary Dmitry Peskov refused to confirm the allegations.
</p>