<h1>Taliban, Afghan govt. in secret peace talks: Report</h1>
<h3>Representatives of the Taliban militant group and a delegation of the Afghan government have reportedly been engaged in secret peace talks since September.</h3>
<p>
	The warring sides have already held two rounds of negotiations in Qatar, where the Taliban has an office, the British daily The Guardian reported on Tuesday, citing a number of unnamed senior sources in the militant group and the Kabul government as saying. <br>

	It added that a top American diplomat as well as Mullah Abdul Manan, the brother of Afghan Taliban founder, Mullah Mohammad Omar, were also present in both meetings. <br>

	The previous peace talks brokered by Pakistan were almost fruitless and came to a total halt when Washington announced in May that the Taliban’s then leader, Mullah Akhtar Mansour, had been killed in a US drone strike. <br>

	Later in May, the Taliban's newly-appointed leader, Haibatullah Akhundzada, pledged that he would not enter into any new talks with Kabul.  
</p>

<p>
	These latest meetings are considered as the first known talks to have taken place since Akhundzada took over the reins. The report, citing a Taliban source, also added that Mullah Omar’s son, Mohammad Yaqoob, was also expected to join the discussions in Doha, in a move that would further strengthen the authority of the Taliban office in Qatar.<br>

	According to a Taliban figure, the first round of the negotiations, which started in early September, “went positively and was held in a trouble-free atmosphere.” The second meeting, he added, was held early this month.
</p>