body {
	background-color: #fff;
	font-size: 16px;
	text-align: center;
}

a {
	width: 25%;
	color: #fff;
	background-color: #333;
	text-decoration: none;
}
a:hover, a:active {
	background-color: #555;
}

div {
	color: #fff;
	background-color: #222;
	max-width: 750px;
	margin: 0 auto;
}